{% extends "base.html" %}

{% block main %}

<p>Welcome, to Currency Converter provided by 3WHS INC, {{ user.customer.full_name }}.</p>

<h3>Currency Converter:</h3>
<p>Choose  " From Currency" - Enter Amount - Choose "To Currency" - Press Convert</p>
<form action="{% url 'bank:convert_currency' %}" method="post">
    {% csrf_token %}
<input type=text name=currency1>
<input type=number name=amount>
<input type=text name=currency2>
<button>Convert</button>
</form>
<table>
    <thead>
        <th>Conversion</th>
    </thead>
    <tbody id="search-results">
    {% for amount in conversion %}
<tr>
    <td>{{ amount. }}</td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endblock main %}