{% block content %}
<hr />
<h2>Create customer </h2>
<hr />
<form action="/" method="POST">
    {% csrf_token %}
    <h3>First Name: <input type="text" name="first_name" value="{{customer.first_name}}"></h3>
    <h3>Last Name: <input type="text" name="last_name" value="{{customer.last_name}}"></h3>
    <h3>Phone: <input type="text" name="phone" value="{{customer.phone}}"></h3>
    <h3>Email: <input type="text" name="email" value="{{customer.email}}"></h3>
    <h3>Choose Rank:
    <select id="rank" name="rank" aria-placeholder="{{customer.rank}}">
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Basis">Basis</option>
    </select> </h3>
    <button>Create</button>
</form>
    <hr />
    
    {% endblock %}