{% extends "BankApp/base.html" %}
{% block content %}
<h2>Costumers at {{ Bank.name }}</h2>
<form name="myform" method="GET" action="/bankapp/search/">
    Search for customers phonenumber: <input type="text" name="search" placeholder="Search"/>
    </form>
<hr />
    <ul>
    {% for customer in Customers  %}
            <li>
                <h3> <a href="details/{{ customer.id }}">{{customer.first_name}} {{ customer.last_name }}</a></h3>
                {{ customer.phone }}
                <hr />
            </li>
    {% empty %}
    <h3>No results found.</h3>
    {% endfor %}
    </ul>

{% endblock %}