{% extends "base.html" %}
{% load rest_framework %}

{% block main %}

<h3>My accounts:</h3>
<table>
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Account Balance</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'bank:account_details' account.pk %}">{{ account.pk }}</a></td>
        <td>{{ account.name }}</td>
        <td class="amount">{{ account.balance|floatformat:"2" }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<form action="{% url 'bank:make_external_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label>
    Amount
    <input name="amount" type="number" />
    </label>
    <label>
    Debit account number
    <input name="debit_account" type="number" />
    </label>
    <label>
    Debit text
    <input name="debit_text" type="text" />
    </label>
    <label>
    Credit account number
    <input name="credit_account" type="number" />
    </label>
    <label>
    Credit text
    <input name="credit_text" type="text" />
    </label>
    <label>
    <input name="external_transfer" type="hidden" value="True"/>
    </label>
    <label>
    <input name="bank_code" type="hidden" value="8000"/>
    </label>
    <button> Make external transfer </button>
    </fieldset>
</form>
{% endblock main %}