{% extends "base.html" %}

{% block main %}

<h3>Customer Details</h3>

<form action="{% url 'bank:staff_customer_details' customer.pk %}" method="patch">
    {% csrf_token %}
    <fieldset>
        <label>
            Rank
            <input name="rank" type="text" value="{{rank}}"/>
        </label>
        <label>
            Personal id
            <input name="personal_id" type="text" value="{{personal_id}}"/>
        </label>
        <label>
            Phone
            <input name="phone" type="number" value="{{phone}}"/>
        </label>
    <button>Update Customer</button>
    </fieldset>
</form>

<table>
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Account Balance</th>
        </tr>
    </thead>
    <tbody
        id="account-list"
        hx-swap="outerHTML"
        hx-get="{% url 'bank:staff_account_list_partial' customer.pk %}"
        hx-trigger="load">
    </tbody>
</table>

<h3>Create New Account</h3>
<form action="{% url 'bank:staff_new_account_partial' customer.pk %}" method="post">
    {% csrf_token %}
    <fieldset>
        <input name="new_account" type="text" />
    <button>Create Account</button>
    </fieldset>
</form>

{% endblock main %}